.spacer { 
    flex: 1 1 auto; 
}

.wrapper { 
    padding: 20px; max-width: 1200px; margin: 0 auto; 
}

.auth-container { 
    display: flex; justify-content: center; margin-top: 50px; 
}

mat-form-field { 
    width: 100%; margin-bottom: 10px; 
}